.container.full-width {
  /* display: block; */
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer {
  /* position: relative;
  bottom: 0; */
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer::before {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 2rem;
  content: 'Contact';
  height: 100px;
  width: 150%;
  background: #000;
  border-radius: 50% 50% 0 0;
  -webkit-box-shadow: 0px -24px 24px 15px rgba(255, 64, 169, 0.66);
  box-shadow: 0px -24px 24px 15px rgba(255, 64, 169, 0.66);
}

.contacts-outer {
  background: #000;
  height: 20rem;
}
