.container.full-width {
  /* display: block; */
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

footer {
  /* position: relative;
  bottom: 0; */
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer::before {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 3rem;
  font-family: var(--title-font);
  content: 'Contact';
  height: 100px;
  width: 150%;
  background: #000;
  border-radius: 50% 50% 0 0;
  -webkit-box-shadow: 0px -24px 150px 10px var(--accent-color);
  box-shadow: 0px -24px 150px 10px var(--accent-color);
}

.contact-txt > a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  border-bottom: 5px double var(--accent-color);
}

.contacts-outer {
  background: #000;
  height: 20rem;
}

.contact-socials {
  display: flex;
}

.contact-socials > li {
  list-style: none;
  margin: 1rem;
}

.contact-socials > li > a {
  text-decoration: none;
  font-size: 3rem;
  color: var(--white);
  transition-duration: 200ms;
}

.contact-socials > li > a:hover {
  color: var(--accent-color);
}
